.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.target-ratio-resize {
	width: 100%; 
	height: auto; 
	max-width: 25vw; 
}

@media (max-width: 1200px){
  .target-ratio-resize {
    width: 100%; 
    height: auto; 
    max-width: 40vw; 
  }
}

@media (max-width: 900px){
  .target-ratio-resize {
    width: 100%; 
    height: auto; 
    max-width: 50vw; 
  }
}

@media (max-width: 600px){
  .target-ratio-resize {
    width: 100%; 
    height: auto; 
    max-width: 65vw; 
  }
}

/*.target-ratio-resize {
	max-width: 450px; 
	max-height: 450px; 
	*height: 450px; 
}*/

/*.target-ratio-resize:after {
	display: block; 
	width: 100%; 
	padding-top: 0%; 
}*/

/*@media (max-width: 900px){
  .target-ratio-resize {
    max-width: 300px; 
    max-height: 300px; 
    *height: 300px; 
  }
  .target-ratio-resize:after {
    display: block; 
    width: 100%; 
    padding-top: 0%; 
  }
}

@media (max-width: 600px){
  .target-ratio-resize {
    max-width: 200px; 
    max-height: 200px; 
    *height: 200px; 
  }
  .target-ratio-resize:after {
    display: block; 
    width: 100%; 
    padding-top: 0%; 
  }
}*/
